[package]
name = "homebridge-exporter"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3.1.6", features = ["derive"] }
hyper = { version = "0.14.20", features = ["full"] }
tokio = { version = "1.21.2", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
prometheus-client = { version = "0.18.1" }
Inflector = "*"
warp = "0.3"

[[bin]]
name = "homebridge-exporter"
path = "src/homebridge-exporter.rs"
